<h1><% title "用户关注的话题"%> </h1>

<table>

<% @questions.each do |question| %>
  <tr>
    <td><%=link_to question.min_title,"/show/?from=#{question.from}&id=#{question.url}"%></td>
    <td><%=h question.created_at.to_s(:db) %></td>
  </tr>
<% end %>
</table>
