<script language="javascript">
  $(document).ready(function(){
    //添加表单验证
    $("#yform").validate();
  });
</script>
<% form_tag session_path,:id=>'yform',:class=>"cmxform" do -%>
<p><label for="login">请输入登录名：</label><br/>
<%= text_field_tag 'login',nil,:class=>"required" %></p>

<p><label for="password">输入你的密码：</label><br/>
<%= password_field_tag 'password',nil,:class=>'required' %></p>

<p><label for="remember_me">两周内自动登录:</label>
<%= check_box_tag 'remember_me',nil,:html=>{:checked=>"checked"} %></p>


<p><%= submit_tag '登录',:class=>'button' %></p>
<% end -%>
