.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
#soso .question_list1 {
	list-style-type: none;
}
#soso .list_column1 {
	width: 500px;
	float: left;
}
#soso .list_column2 span {
	float: left;
	width: 80px;
}
#soso .question_list1 li {
	line-height: 24px;
}
#sina .img1 {
	height: 1px;
	width: 1px;
}
#sina  .usr_info {
	float: left;
	width: 100px;
	background-color: #ffc;
}
#sina  .usr_qus strong {
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}
#sina  .usr_qus {
	padding: 12px;
}

#sina .qus_c {
	padding: 12px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}
#sina .qus_c2 {
	background-color: FFFFD0;
}
#yahoo .entrydetail {
	padding: 10px;
}
#yahoo  .original {
	background-color: #FF9;
}
#yahoo .entrydetail h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C0C0C0;
}
#yahoo .entrydetail .supplement {
	color: #03C;
}
