<% if @arr -%>
<% @arr =@arr.to_s.gsub(/http:\/\/zhidao.baidu.com\/question\//,"\/show\/?from=1&id=") if params[:from]=='1'%>
<% @arr =@arr.to_s.gsub(/http:\/\/wenwen.soso.com\/z\/q/,"\/show\/?from=3&id=q") if params[:from]=='3'%>
<% @arr =@arr.to_s.gsub(/(\/question\/)|(http:\/\/(...*).wenda.sogou.com\/question\/)/,"\/show\/?from=4&id=") if params[:from]=='4'%>
<% @arr =@arr.to_s.gsub(/http:\/\/iask.sina.com.cn\/b\//,"\/show\/?from=5&id=").gsub(/http:\/\/image2.sina.com.cn\/pfp\/ask\/images\/zhishi\/line_g.gif/,"").gsub(/<img src="">/,"") if params[:from]=='5'%>
<% @arr =@arr.to_s.gsub(/http:\/\/wenda.tianya.cn\/wenda\/thread\?tid=/,"\/show\/?from=2&id=") if params[:from]=='2'%>
<% @arr =@arr.to_s.gsub(/http:\/\/ks.cn.yahoo.com\/question\//,"\/show\/?from=6&id=") if params[:from]=='6'%>

<div id="<%=site(params[:from])%>">
<% @arr.each do |line| %>
  <%=line%>
<% end %>
</div>
<% end -%>