<% title @question.min_title %>
<div id="<%=site(params[:from])%>">
  <%=render :file=>'tips/c',:question=>@question%>
  <% if @arr %>
    <% @arr = @arr.to_s.gsub(/<pre>/,"").gsub(/<\/pre>/,"") %>
    <% @arr.each do |line| %>
      <%=line%>
    <% end %>
  <% end %>
</div>