<%#
# ajax login and signup
%>
<% if (controller.action_name =="new" and controller.controller_name=="users") or (controller.action_name =="new" and controller.controller_name=="sessions") %>
<%# 避免验证冲突,所以在打开登录/注册页面的时候,关闭ajax渲染%>
<% else %>
<div id="login_dlg"></div>
<% end %>