<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="friend_link">
<a href="http://www.digg58.com/?id=33898" target="_blank" title="点我网站大全,提供免费网站收录">点我网站大全</a>
<a href="http://www.addwww.com/" onclick="d=document;t=d.selection?(d.selection.type!='None'?d.selection.createRange().text:''):(d.getSelection?d.getSelection():'');void(keyit=window.open('http://www.addwww.com/input.php?t='+d.title+'&u='+d.location.href+'&c='+t,'keyit','scrollbars=no,resizable=yes'));keyit.focus();return false;" title="网页收录内容推广">网页收录</a>
<a href="http://www.weiduomei.net target=_blank">味多美网址导航</a>
<a href="http://www.adminsl.cn" target="_blank">站长收录</a>
<a href="http://www.msxindl.com" title="站长新动力,为中国站长建站提供新动力" target="_blank">站长新动力</a>
<a href="http://www.wzshoulu.cn" target="_blank">网站收录</a>
<a target=_blank href=http://gjj.cc/AiQing/hunjie/>Gjj</a>
<a href="http://114.bz" target=_blank>网站收录</a>
<a href="http://www.AdminSo.com/" target="_blank" title="AS网站目录(AdminSo.com)-免费收录各类优秀网站的中文网站目录">AS网站目录</a>
<a href="http://www.1616.net" target="_blank">1616收录</a>
<a href="http://www.62.com.cn" target="_blank">62收录</a>
<a href="http://www.youku123.com" target="_blank">YOUku123</a>
</div><div class="copy_right">
  &copy;2010-2015 &nbsp;inruby.com 版权所有&nbsp;&nbsp;<a href="http://www.inruby.com/">红宝石网络</a>&nbsp;&nbsp;
   <!--51.la start-->
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/3829888.js"></script>
    <noscript><a href="http://www.51.la/?3829888" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3829888.asp" style="border:none" /></a></noscript>
   <!--51.la end-->
</div>
